<footer class="footer">
  <div class="footer__container container">
    <div class="footer__copyright">© 2013–2014</div>
    <div class="fontacts">
      <div class="contacts__item">
        <i class="contacts__item-icon icon icon_twitter"></i>
        <a class="contacts__item-text" href="https://twitter.com/{{ site.author.twitter }}/" target="_blank">Twitter</a>
      </div>
      <div class="contacts__item">
        <i class="contacts__item-icon icon icon_github"></i>
        <a class="contacts__item-text" href="https://github.com/{{ site.author.github }}" target="_blank">GitHub</a>
      </div>
      <div class="contacts__item">
        <i class="contacts__item-icon icon icon_mail"></i>
        <a class="contacts__item-text" href="mailto:{{ site.author.email }}" target="_blank">E-mail</a>
      </div>
    </div>
  </div>
</footer>

<script src="http://yandex.st/jquery/2.1.0/jquery.min.js"></script>
<script src="http://yandex.st/highlightjs/7.4/highlight.min.js"></script>
<script src="http://yandex.st/share/share.js"></script>
<script src="assets/common.js"></script>

<script>hljs.initHighlightingOnLoad();</script>

<!-- Yandex.Metrika counter -->
<script>
(function (d, w, c) {
  (w[c] = w[c] || []).push(function() {
    try {
      w.yaCounter13585859 = new Ya.Metrika({
        id:13585859,
        webvisor:false,
        clickmap:true,
        trackLinks:true
      });
    } catch(e) { }
  });

  var n = d.getElementsByTagName("script")[0],
    s = d.createElement("script"),
    f = function () { n.parentNode.insertBefore(s, n); };
  s.type = "text/javascript";
  s.async = true;
  s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

  if (w.opera == "[object Opera]") {
    d.addEventListener("DOMContentLoaded", f, false);
  } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/13585859" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
