.page
{
    padding-top: 82px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.container
{
    margin: 0 auto;
    padding: 0 40px;
    max-width: 800px;
}

.header
{
    background: #333;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 0;
    width: 100%;
}

    .header__container
    {
        position: relative;
        z-index: 1;
    }

    .header__menu
    {
        float: right;
    }

    .header__menu-item
    {
        font-family: "Ubuntu Condensed";
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        line-height: 44px;
        margin-left: 1em;
        font-size: 18px;
        color: #aaa;
    }

        .header__menu-item:hover
        {
            color: #fff;
        }

        .header__menu-item_active
        {
            color: #fff;
        }

    .header__logo
    {
        line-height: 1;
    }
    
        .header__logo-brand
        {
            text-decoration: none;
            font-weight: lighter;
            font-size: 29px;
            color: #eee;
        }

            .header__logo-brand:hover
            {
                color: #fff;
            }

        .header__logo-slogan
        {
            font-family: "Ubuntu Condensed";
            font-size: 13px;
            color: #888;
        }

.blog-post
{
    margin-bottom: 50px;
    position: relative;
}

    .blog-post:last-child
    {
        margin-bottom: 0;
    }

    .blog-post__heading
    {
        margin-bottom: 10px;
    }

    .blog-post__title
    {
        font-family: "Ubuntu", sans-serif;
        font-weight: lighter;
        font-size: 1.6em;
    }

    .blog-post__icon
    {
        top: 12px;
        left: -30px;
        position: absolute;
        font-size: 16px;
        color: #888;
    }

    .blog-post__published
    {
        font-size: 0.9em;
        display: block;
        color: #888;
    }

    .blog-post__intro
    {
        margin-bottom: 10px;
    }

        .blog-post__intro > p:last-child
        {
            margin-bottom: 0;
        }

    .blog-post__footer
    {
        font-size: 0.9em;
        color: #888;
    }

    .blog-post__tags-icon
    {
        padding-right: 0.4em;
    }

    .blog-post__tags-item
    {
        text-decoration: none;
        color: #888;
    }

        .blog-post__tags-item:hover
        {
            text-decoration: underline;
            color: #888;
        }

.post
{

}

    .post__heading
    {
        margin-bottom: 30px;
    }

        .post__heading-title
        {
            margin-bottom: 0;
        }

        .post__heading-date
        {
            font-size: 0.9em;
            color: #888;
        }

        .post__footer {
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
            margin-bottom: 20px;
            overflow: hidden;
            padding: 10px 0;
            color: #666;
        }

            .post__footer-share
            {

            }

            .post__footer-source {
                line-height: 26px;
                float: right;
            }

.footer
{
    text-shadow: 0 1px #fff;
    bottom: 0;
    left: 0;
    background: #eee;
    position: fixed;
    font-size: 0.8em;
    height: 60px;
    width: 100%;
}

    .footer__container
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer__copyright
    {
        float: right;
    }

.contacts
{

}

    .contacts__item
    {
        display: inline-block;
        margin-right: 20px;
    }

        .contacts__item:last-child
        {
            margin-right: 0;
        }

        .contacts__item-text
        {
            display: inline-block;
            text-decoration: none;
            margin-left: 0.2em;
            color: #333;
        }

        .contacts__item-text:hover
        {
            text-decoration: underline;
            color: #333;
        }

.content
{
    box-shadow: 0 -1px 3px #000;
    padding-bottom: 50px;
    position: relative;
    padding-top: 50px;
    background: #fff;
    z-index: 1;
}

    .content__container
    {
        position: relative;
    }

.link
{
    border-bottom: 1px solid #06c;
    text-decoration: none;
    color: #06c;
}

    .link:hover
    {
        border-color: #c04;
        color: #c04;
    }

    .link_ajax
    {
        border-bottom-style: dotted;
    }

.heading
{

}

    .heading__text
    {
        margin-bottom: 0;
    }

    .heading_main
    {
        margin-bottom: 30px;
    }
