body {
  font-family: "Exo 2", sans-serif;
  font-weight: normal;
  line-height: 1.6;
  font-size: 14px;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu Condensed", sans-serif;
}

h1, h2 {
  font-weight: normal;
}

h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.142em;
  line-height: 1.1333em;
  margin-bottom: 0.2666em;
}

h2 {
  font-size: 1.714em;
  line-height: 1.1666em;
  margin-bottom: 0.4555em;
}

h3 {
  font-size: 1.429em;
  line-height: 1.4em;
  margin-bottom: 0.4em;
}

h4 {
  font-size: 1.143em;
  line-height: 1.65em;
  margin-bottom: 0.4555em;
}

h5 {
  font-size: 1em;
  line-height: 1.65em;
  margin-bottom: 0.5em;
}

h6 {
  font-size: 0.857em;
  line-height: 1.5em;
  margin-bottom: 0.4555em;
  text-transform: uppercase;
}

a {
  color: #06c;
}

a:hover {
  color: #c04;
}

a:visited {
  /*color: #b0c*/;
}

sub, sup {
  font-size: 0.7em;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin-left: 1.5em;
}

p,
pre,
table,
ul, ol,
figure,
blockquote {
  margin-bottom: 1.5em;
}

blockquote {
  padding-left: 1.5em;
  font-style: italic;
  position: relative;
  color: #666;
}

blockquote:before {
  position: absolute;
  font-style: normal;
  content: '>';
  left: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

pre {
  border: 1px solid #ccc;
  border-radius: 2px;
}

pre, code {
  font-family: "Ubuntu Mono", monospace;
  font-size: 14px;
}

code {
  color: #666;
}

pre code {
  box-shadow: none;
  border: none;
  padding: 0;
}

table {
  width: 100%;
}

th, td {
  padding: 5px;
  border: 1px solid #ddd;
}

th {
  font-weight: bold;
}

img {
  max-width: 100%;
}
