/*@font-face {
  font-family: "icon";
  src: url("font/icon.eot?48680382");
  src: url("font/icon.eot?48680382#iefix") format("embedded-ope"),
       url("font/icon.woff?48680382") format("woff"),
       url("font/icon.ttf?48680382") format("tru"),
       url("font/icon.svg?48680382#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  src: url("font/icon.woff?48680382") format("woff");
  font-family: "icon";
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  text-decoration: inherit;
  display: inline-block;
  text-align: center;
  width: 1em;

  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  
  margin-right: 0.2em;
  margin-left: 0.2em;
}
 
.icon_note:before { content: "\e91b"; }

.icon_logo-db:before { content: "\e901"; }

.icon_music:before { content: "\e919"; }

.icon_search:before { content: "\e800"; }

.icon_flashlight:before { content: "\e918"; }

.icon_mail:before { content: "\e801"; }

.icon_heart:before { content: "\e802"; }

.icon_heart-empty:before { content: "\e803"; }

.icon_star:before { content: "\e804"; }

.icon_star-empty:before { content: "\e805"; }

.icon_user:before { content: "\e806"; }

.icon_users:before { content: "\e808"; }

.icon_user-add:before { content: "\e807"; }

.icon_video:before { content: "\e809"; }

.icon_picture:before { content: "\e80a"; }

.icon_camera:before { content: "\e80b"; }

.icon_layout:before { content: "\e80f"; }

.icon_menu:before { content: "\e80e"; }

.icon_check:before { content: "\e80c"; }

.icon_cancel:before { content: "\e80d"; }

.icon_cancel-circled:before { content: "\e810"; }

.icon_cancel-squared:before { content: "\e811"; }

.icon_plus:before { content: "\e812"; }

.icon_plus-circled:before { content: "\e813"; }

.icon_plus-squared:before { content: "\e814"; }

.icon_minus:before { content: "\e815"; }

.icon_minus-circled:before { content: "\e816"; }

.icon_minus-squared:before { content: "\e818"; }

.icon_help:before { content: "\e817"; }

.icon_help-circled:before { content: "\e819"; }

.icon_info:before { content: "\e81a"; }

.icon_info-circled:before { content: "\e81b"; }

.icon_back:before { content: "\e81c"; }

.icon_home:before { content: "\e81d"; }

.icon_link:before { content: "\e81e"; }

.icon_attach:before { content: "\e81f"; }

.icon_lock:before { content: "\e820"; }

.icon_lock-open:before { content: "\e821"; }

.icon_eye:before { content: "\e822"; }

.icon_tag:before { content: "\e823"; }

.icon_bookmark:before { content: "\e824"; }

.icon_bookmarks:before { content: "\e825"; }

.icon_flag:before { content: "\e826"; }

.icon_thumbs-up:before { content: "\e827"; }

.icon_thumbs-down:before { content: "\e828"; }

.icon_download:before { content: "\e829"; }

.icon_upload:before { content: "\e82a"; }

.icon_upload-cloud:before { content: "\e82b"; }

.icon_reply:before { content: "\e82c"; }

.icon_reply-all:before { content: "\e82d"; }

.icon_forward:before { content: "\e82e"; }

.icon_quote:before { content: "\e82f"; }

.icon_code:before { content: "\e830"; }

.icon_export:before { content: "\e831"; }

.icon_pencil:before { content: "\e832"; }

.icon_feather:before { content: "\e833"; }

.icon_print:before { content: "\e834"; }

.icon_retweet:before { content: "\e835"; }

.icon_keyboard:before { content: "\e836"; }

.icon_comment:before { content: "\e837"; }

.icon_chat:before { content: "\e838"; }

.icon_bell:before { content: "\e839"; }

.icon_attention:before { content: "\e83a"; }

.icon_alert:before { content: "\e83b"; }

.icon_vcard:before { content: "\e83c"; }

.icon_address:before { content: "\e83d"; }

.icon_location:before { content: "\e83e"; }

.icon_map:before { content: "\e83f"; }

.icon_direction:before { content: "\e840"; }

.icon_compass:before { content: "\e841"; }

.icon_cup:before { content: "\e842"; }

.icon_trash:before { content: "\e843"; }

.icon_doc:before { content: "\e844"; }

.icon_docs:before { content: "\e845"; }

.icon_doc-landscape:before { content: "\e846"; }

.icon_doc-text:before { content: "\e847"; }

.icon_doc-text-inv:before { content: "\e848"; }

.icon_newspaper:before { content: "\e849"; }

.icon_book-open:before { content: "\e84a"; }

.icon_book:before { content: "\e84b"; }

.icon_folder:before { content: "\e84c"; }

.icon_archive:before { content: "\e84d"; }

.icon_box:before { content: "\e84e"; }

.icon_rss:before { content: "\e84f"; }

.icon_phone:before { content: "\e850"; }

.icon_cog:before { content: "\e851"; }

.icon_tools:before { content: "\e852"; }

.icon_share:before { content: "\e853"; }

.icon_shareable:before { content: "\e857"; }

.icon_basket:before { content: "\e854"; }

.icon_bag:before { content: "\e855"; }

.icon_calendar:before { content: "\e856"; }

.icon_login:before { content: "\e858"; }

.icon_logout:before { content: "\e859"; }

.icon_mic:before { content: "\e85a"; }

.icon_mute:before { content: "\e85b"; }

.icon_sound:before { content: "\e85c"; }

.icon_volume:before { content: "\e85d"; }

.icon_clock:before { content: "\e85f"; }

.icon_hourglass:before { content: "\e85e"; }

.icon_lamp:before { content: "\e860"; }

.icon_light-down:before { content: "\e861"; }

.icon_light-up:before { content: "\e862"; }

.icon_adjust:before { content: "\e863"; }

.icon_block:before { content: "\e864"; }

.icon_resize-full:before { content: "\e865"; }

.icon_resize-small:before { content: "\e866"; }

.icon_popup:before { content: "\e867"; }

.icon_publish:before { content: "\e868"; }

.icon_window:before { content: "\e869"; }

.icon_arrow-combo:before { content: "\e86a"; }

.icon_down-circled:before { content: "\e86b"; }

.icon_left-circled:before { content: "\e86c"; }

.icon_right-circled:before { content: "\e86d"; }

.icon_up-circled:before { content: "\e86e"; }

.icon_down-open:before { content: "\e86f"; }

.icon_left-open:before { content: "\e870"; }

.icon_right-open:before { content: "\e871"; }

.icon_up-open:before { content: "\e872"; }

.icon_down-open-mini:before { content: "\e873"; }

.icon_left-open-mini:before { content: "\e8ae"; }

.icon_right-open-mini:before { content: "\e8c2"; }

.icon_up-open-mini:before { content: "\e874"; }

.icon_down-open-big:before { content: "\e875"; }

.icon_left-open-big:before { content: "\e876"; }

.icon_right-open-big:before { content: "\e877"; }

.icon_up-open-big:before { content: "\e878"; }

.icon_down:before { content: "\e879"; }

.icon_left:before { content: "\e87a"; }

.icon_right:before { content: "\e87b"; }

.icon_up:before { content: "\e87c"; }

.icon_down-dir:before { content: "\e87d"; }

.icon_left-dir:before { content: "\e87e"; }

.icon_right-dir:before { content: "\e87f"; }

.icon_up-dir:before { content: "\e880"; }

.icon_down-bold:before { content: "\e881"; }

.icon_left-bold:before { content: "\e882"; }

.icon_right-bold:before { content: "\e883"; }

.icon_up-bold:before { content: "\e884"; }

.icon_down-thin:before { content: "\e885"; }

.icon_left-thin:before { content: "\e8d6"; }

.icon_right-thin:before { content: "\e886"; }

.icon_note-beamed:before { content: "\e91a"; }

.icon_ccw:before { content: "\e888"; }

.icon_cw:before { content: "\e889"; }

.icon_arrows-ccw:before { content: "\e88a"; }

.icon_level-down:before { content: "\e88b"; }

.icon_level-up:before { content: "\e88c"; }

.icon_shuffle:before { content: "\e88d"; }

.icon_loop:before { content: "\e88e"; }

.icon_switch:before { content: "\e88f"; }

.icon_play:before { content: "\e890"; }

.icon_stop:before { content: "\e891"; }

.icon_pause:before { content: "\e892"; }

.icon_record:before { content: "\e893"; }

.icon_to-end:before { content: "\e894"; }

.icon_to-start:before { content: "\e895"; }

.icon_fast-forward:before { content: "\e896"; }

.icon_fast-backward:before { content: "\e897"; }

.icon_progress-0:before { content: "\e898"; }

.icon_progress-1:before { content: "\e8ac"; }

.icon_progress-2:before { content: "\e8fe"; }

.icon_progress-3:before { content: "\e8ea"; }

.icon_target:before { content: "\e902"; }

.icon_palette:before { content: "\e903"; }

.icon_list:before { content: "\e904"; }

.icon_list-add:before { content: "\e905"; }

.icon_signal:before { content: "\e906"; }

.icon_trophy:before { content: "\e907"; }

.icon_battery:before { content: "\e908"; }

.icon_back-in-time:before { content: "\e909"; }

.icon_monitor:before { content: "\e90b"; }

.icon_mobile:before { content: "\e90a"; }

.icon_network:before { content: "\e90c"; }

.icon_cd:before { content: "\e90d"; }

.icon_inbox:before { content: "\e90e"; }

.icon_install:before { content: "\e90f"; }

.icon_globe:before { content: "\e910"; }

.icon_cloud:before { content: "\e911"; }

.icon_cloud-thunder:before { content: "\e912"; }

.icon_flash:before { content: "\e899"; }

.icon_moon:before { content: "\e89a"; }

.icon_flight:before { content: "\e89b"; }

.icon_paper-plane:before { content: "\e89c"; }

.icon_leaf:before { content: "\e89d"; }

.icon_lifebuoy:before { content: "\e89e"; }

.icon_mouse:before { content: "\e89f"; }

.icon_briefcase:before { content: "\e8a0"; }

.icon_suitcase:before { content: "\e8a1"; }

.icon_dot:before { content: "\e8a2"; }

.icon_dot-2:before { content: "\e8a3"; }

.icon_dot-3:before { content: "\e8a4"; }

.icon_brush:before { content: "\e8a5"; }

.icon_magnet:before { content: "\e8a6"; }

.icon_infinity:before { content: "\e8a7"; }

.icon_erase:before { content: "\e8a8"; }

.icon_chart-pie:before { content: "\e8a9"; }

.icon_chart-line:before { content: "\e8aa"; }

.icon_chart-bar:before { content: "\e8ab"; }

.icon_chart-area:before { content: "\e8ad"; }

.icon_tape:before { content: "\e913"; }

.icon_graduation-cap:before { content: "\e8af"; }

.icon_language:before { content: "\e8b0"; }

.icon_ticket:before { content: "\e8b1"; }

.icon_water:before { content: "\e8b2"; }

.icon_droplet:before { content: "\e8b3"; }

.icon_air:before { content: "\e8b4"; }

.icon_credit-card:before { content: "\e8b5"; }

.icon_floppy:before { content: "\e8b6"; }

.icon_clipboard:before { content: "\e8b7"; }

.icon_megaphone:before { content: "\e8b8"; }

.icon_database:before { content: "\e8b9"; }

.icon_drive:before { content: "\e8ba"; }

.icon_bucket:before { content: "\e8bb"; }

.icon_thermometer:before { content: "\e8bc"; }

.icon_key:before { content: "\e8bd"; }

.icon_flow-cascade:before { content: "\e8be"; }

.icon_flow-branch:before { content: "\e8bf"; }

.icon_flow-tree:before { content: "\e8c0"; }

.icon_flow-line:before { content: "\e8c1"; }

.icon_flow-parallel:before { content: "\e917"; }

.icon_rocket:before { content: "\e8c3"; }

.icon_gauge:before { content: "\e8c4"; }

.icon_traffic-cone:before { content: "\e8c5"; }

.icon_cc:before { content: "\e8c6"; }

.icon_cc-by:before { content: "\e8c7"; }

.icon_cc-nc:before { content: "\e8c8"; }

.icon_cc-nc-eu:before { content: "\e8c9"; }

.icon_cc-nc-jp:before { content: "\e8ca"; }

.icon_cc-sa:before { content: "\e8cb"; }

.icon_cc-nd:before { content: "\e8cc"; }

.icon_cc-pd:before { content: "\e8cd"; }

.icon_cc-zero:before { content: "\e8ce"; }

.icon_cc-share:before { content: "\e8cf"; }

.icon_cc-remix:before { content: "\e8d0"; }

.icon_github:before { content: "\e8d1"; }

.icon_githucircled:before { content: "\e8d2"; }

.icon_flickr:before { content: "\e8d3"; }

.icon_flickr-circled:before { content: "\e8d4"; }

.icon_vimeo:before { content: "\e8d5"; }

.icon_vimeo-circled:before { content: "\e916"; }

.icon_twitter:before { content: "\e8d7"; }

.icon_twitter-circled:before { content: "\e8d8"; }

.icon_facebook:before { content: "\e8d9"; }

.icon_facebook-circled:before { content: "\e8da"; }

.icon_facebook-squared:before { content: "\e8db"; }

.icon_gplus:before { content: "\e8dc"; }

.icon_gplus-circled:before { content: "\e8dd"; }

.icon_pinterest:before { content: "\e8de"; }

.icon_pinterest-circled:before { content: "\e8df"; }

.icon_tumblr:before { content: "\e8e0"; }

.icon_tumblr-circled:before { content: "\e8e1"; }

.icon_linkedin:before { content: "\e8e2"; }

.icon_linkedin-circled:before { content: "\e8e3"; }

.icon_dribbble:before { content: "\e8e4"; }

.icon_dribbble-circled:before { content: "\e8e5"; }

.icon_stumbleupon:before { content: "\e8e6"; }

.icon_stumbleupon-circled:before { content: "\e8e7"; }

.icon_lastfm:before { content: "\e8e8"; }

.icon_lastfm-circled:before { content: "\e8e9"; }

.icon_rdio:before { content: "\e914"; }

.icon_rdio-circled:before { content: "\e8eb"; }

.icon_spotify:before { content: "\e8ec"; }

.icon_spotify-circled:before { content: "\e8ed"; }

.icon_qq:before { content: "\e8ee"; }

.icon_instagram:before { content: "\e8ef"; }

.icon_dropbox:before { content: "\e8f0"; }

.icon_evernote:before { content: "\e8f1"; }

.icon_flattr:before { content: "\e8f2"; }

.icon_skype:before { content: "\e8f3"; }

.icon_skype-circled:before { content: "\e8f4"; }

.icon_renren:before { content: "\e8f5"; }

.icon_sina-weibo:before { content: "\e8f6"; }

.icon_paypal:before { content: "\e8f7"; }

.icon_picasa:before { content: "\e8f8"; }

.icon_soundcloud:before { content: "\e8f9"; }

.icon_mixi:before { content: "\e8fa"; }

.icon_behance:before { content: "\e8fb"; }

.icon_google-circles:before { content: "\e8fc"; }

.icon_vkontakte:before { content: "\e8fd"; }

.icon_smashing:before { content: "\e915"; }

.icon_sweden:before { content: "\e8ff"; }

.icon_dshape:before { content: "\e900"; }

.icon_up-thin:before { content: "\e887"; }
